.banner__container {
    max-width: 1703px;
    margin: 0 auto;
    padding: 7.4% 50px;
    position: relative;
    z-index: 1;
  }
  .banner {
    position: relative;
     }
  .banner .swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }