@media screen and (max-width: 767px) {
.header-top__container{
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0.44px;
}
.header-container__burger{
    width: 25px;
    height: 18px;
}
.header__expand {
    width: 10px;
    height: 10px;
}
.header-top__nav{
    height: 403px;
}
.header-top__login{
    padding: 2px 13px;
    font-size: 16px;
    
} 
.burger__item{
    height: 20px;
    font-size: 16px;
}
.burger__list{
    height: 163px;
    margin-bottom: 51px;
}

.header-top__linck {
    font-size: 16px;
    line-height: 32px;
}
.header-top__logo{
    margin-right: 35.19%;
    height: 26px;
}
.header-top__logo-img {
    width: 96.8px;
    height: 26.67px;
}
.form-container {
    height: 21px;
    width:91px;
}
.header-top__glass{
    width: 18px;
    height: 17px;
}
.banner__container {
    padding: 6% 28px 5% 28px;
}

.banner__title{
    font-size: 32px;
    text-align: center;
    line-height: 38px;
    width: 268px;
    margin-bottom: 12px;
    margin: 12px auto;
    }

.banner__description{
    font-size:12px; 
    text-align: center;
    font-weight: normal;
    line-height: 16px;
    width: 265px;
    margin-bottom: 36px;
    margin: 0px auto 37px;
    }
.banner__button-outline{
    margin: 0 auto;
    height: 52px;
    border-radius: 100px;
    padding: 3vw;
    padding-top: 5px;
    width: 219px; 
    
}

.banner__button{
    margin: 0 auto;
    border-radius: 100px;
    width: 200.2px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

   .aboutus__container {
    padding: 15px;   
    padding-top: 53.3px;
    padding-bottom: 39.5px;
 }
.title{ 
 font-size:28px;
 margin-bottom: 16px;
}
.aboutus__description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    width:99.94%;
}
.gallery__container {
    padding: 15px;
    padding-top: 53.3px;
    padding-bottom: 222.7px;
   }
.title-white{
    font-size:28px;
    margin-bottom: 21.7px;
 }
 .gallery__filter{
     font-size: 16px;
     margin-bottom: 13px;
 } 
 .gallery__ul{
     width:146%;
    
 }
 .gallery__btns {
    width: 128px;
    height: 10px;
    order: 2;
    margin: 0 auto;
}
.gallery__menu{
    width:291px;
    margin-bottom: 13%;
}

.gallery__part-right {
    width:100%;
    display: flex;
    flex-direction: column;
}
.gallery__swiper{
    order:1;
   }
.gallery__paint {
    height: 370.4px;
    margin-bottom: 12px;
}

.gallery__pagination {
    width: 100%;
}
.gallery__btn-prev{
width: 30px;
height: 30px;
}
.gallery__btn-next{
    width: 30px;
    height: 30px;
    }
.gallery__form{
    margin-top: 449px;
}
.choices{
    margin-bottom: 10px;
    width: 100%;
    margin-bottom: 36px;
 }
 .choices__list--dropdown {
  position: relative;
  z-index: 2;
}   
}